.LoginPage{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    width: 100%;
    gap: 1rem;
}
.LoginTitleName{
    text-align: left;
    color: solid black;
}
.LoginSubTitle{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.LoginHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.LoginHead{
    text-align: left;
    font-size: 18px;
}
.LoginContainer{
    border-radius: 8px;
    background-color:white;
    padding: 16px;
    max-width: fit-content;
    width: auto
}
.LoginBox{
    display: flex;
    flex-direction: column;
}
.LoginTextFieldContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.CheckBoxAndForgetPassword{
    display: flex;
    flex-direction: row;
}
.RememberMe{
    
}
.LoginButton{
    margin-top: 10px;
}
