.StateMaster {
  display: flex;
  flex-direction: column;
  min-height: calc(90vh - 64px);
}
.AddButton {
  background-color: brown;
}
.StateMastersCard {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.AddButtonDiv {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* padding: 10px 20px; */
  margin: 20px;
  background-color: #283593;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.StateDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.formDiv {
  display: flex;
  min-width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px;
}
.SchoolSetupDialog {
  display: flex;
  justify-content: center;
}
.twoInput {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
