.MasterDataDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  min-height: 84vh;
  border-radius: 10px;
  padding: 10px;
}

.smallCardsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.smallCards {
  display: flex;

  flex-direction: row;
}
.smallCardsImage {
  display: flex;
  width: 50px;
  height: 80px;
  padding: 3px;
  object-fit: cover;
}
.navBarDiv {
  display: flex;
  align-items: center;
  width: 100%;
}
.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0;
}
.css-j204z7-MuiFormControlLabel-root {
  /* Other CSS properties */
  margin-right: 0; /* Remove the right margin */
}
.schoolLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 10px;
}
.toggleButton {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.AppBarRight {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}
.DashBoard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.icons {
  font-size: 24px;
  align-items: center;
}

.chartDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.RoutesDiv {
  padding: 10px;
  border-radius: 50px;
}
