.StudentRegistration{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;
}

.addStudentFormDiv{
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 85%;
    padding: 15px;
}
.inputField{
    display: flex;
    gap: 1rem;
}
/* {
    "admissionNo": "AD12352",
    "registrationNo": "REG56796",
    "initial": "R",
    "firstName": "GOKUL",
    "middleName": "",
    "lastName": "KANNAN",
    "className": "Grade 8",
    "sectionName":"A",
    "gender": "Male",
    "administrationType": "School",
    "administrationName": "ABC School",
    "address1": "123 Main Street",
    "address2": "Apt 4B",
    "pincode": "12345",
    "stateName": "TamilNadu",
    "cityName": "Thanjavur",
    "nationality": "Indian",
    "mobile": "9944057983",
    "emailId": "gokulravichandran101@gmail.com",
    "dateOfBirth": "1998-12-24",
    "religion": "Hindu",
    "community": "BC",
    "bloodGroup": "B+",
    "photoUrl": "https://example.com/photo.jpg",
    "fatherName": "M.Ravichandran",
    "motherName": "R.Nirmala",
    "fatherQualification": "Bachelors Degree",
    "motherQualification": "Bachelors Degree",
    "fatherOccupation": "Farmer",
    "motherOccupation": "Home maker",
    "fatherAnnualIncome": 50000.00,
    "motherAnnualIncome": 60000.00,
    "gaurdianName":"",
    "gaurdianOccupation":"",
    "gaurdianQualification":"",
    "caretakerName":"",
    "caretakerOccupation":"",
    "caretakerQualification":"",
    "parentMobileNoA": "8754938477",
    "parentMobileNoB": "880774851",
    "parentMobileNo3":"",
    "parentEmailId1": "gokulravichandran101@gmail.com",
    "parentEmailId2": "gokulravichandran101@gmail.com",
    "adharcardNo": "1234567890",
    "pancardNo": "ABCDE1234F",
    "bankName": "ABC Bank",
    "bankBranch": "Main Branch",
    "accountNo": "9876543210",
    "ifscNo": "ABCD1234567",
    "certificateProvided": "Yes",
    "administrationId": 1
  } */
  