.StudentRegistration {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #f2f2f2;
}
.studentRegistrationHeading {
  width: 100%;
  text-align: left;
}
.addStudentFormDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 85%;
  padding: 15px;
  gap: 0.5rem;
}
.inputField {
  display: flex;
  gap: 1rem;
}
.addStudentForm {
  display: flex;
  flex-direction: column;
}
.studentRequiredFieldsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.PassPortSizePhotoDiv {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
.StudentsFields {
  display: flex;
  flex-direction: column;
}
.studentName {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}
